@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Arvo');

.App {
	/* font-family: 'Georgia', 'Times', serif; */
	font-family: 'Arvo', serif;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: lowercase;
	display: flex;
	min-height: 100vh;
	width: 100vw;
	flex-direction: column;
	/* text-align: center; */
	/* color: palevioletred; */
	color: #444;
	background-color: whitesmoke;
	background-color: #444;
	/* background-color: #282c34; */
}

a {
	text-decoration: none;
	color: inherit;
}

main > *,
header,
footer {
	margin: 4px;
	/* padding: 5px; */
	box-shadow: 0px 3px 5px;
	border-radius: 4px;
}

.App header {
	flex-basis: 100px; /* height */
	display: flex;
	background-color: linen;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}

.App main {
	display: flex;
	flex: 1 1 800px; /* min height */
}

/* center */
.App article {
	flex: 4 0 60%;
	padding-left: 1rem;
	background-color: linen;
	order: 1;
}

/* left */
.App nav {
	flex: 1 1 20%;
	padding-left: 1rem;
	background-color: linen;
}

/* right */
.App aside {
	flex: 1 1 20%;
	padding-left: 1rem;
	order: 2;
	background-color: linen;
}

.App footer {
	flex-basis: 100px; /* height */
	background-color: linen;
	padding: 0 1rem;
}

@media all and (max-width: 640px) {
	.App main {
		flex-direction: column;
	}

	.App nav {
		order: 1;
	}
}
