.App {
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	text-align: center;
	background-color: #282c34;
}

.App header {
	display: flex;
	background-color: #eee;
	justify-content: space-between;
}

.App main {
	display: flex;
	flex: 1 1 800px;
	/* min-height: 800px; */
}

.App article {
	flex: 2 1 60%;
	order: 1;
}

.App nav {
	flex: 1 1 20%;
	background-color: #61dafb;
}

.App aside {
	flex: 1 1 20%;
	order: 2;
	background-color: aquamarine;
}

.App footer {
	background-color: #eee;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@media (max-width: 640px) {
	.App main {
		flex-direction: column;
	}

	.App nav {
		order: 1;
	}
}
